@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;400;700&family=Rubik:wght@300;400;800&family=Vazirmatn:wght@300;400;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End CSS RESET! */
/* The Fonts: "IBM Plex Sans Arabic" "Rubik" "Vazirmatn" */
/* Mobile Page */
@media screen and (max-width:767px) {

    body {
        background: linear-gradient(to bottom right, #66ddcc, #66ddcc, #ffaaee, #ff77ff);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        transition: all .3s ease-in-out;
    }


    .blink {
        animation: blinker 1.5s linear infinite;
    }

    @keyframes blinker {
        50% {
            color: #fff;
            opacity: 0.01;
        }
    }

    nav {
        display: block;
        width: 100% !important;
    }

    nav div {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .nav-text {
        font-family: "Vazirmatn", sans-serif;
        cursor: pointer;
        width: 100% !important;
        font-size: 2rem;
        text-decoration: none;
        padding: 1rem;
        text-align: center;
        background-color: transparent;
        border-radius: 2rem;
        margin-bottom: 1rem;
        color: #000;
        transition: all .3s ease-in-out;
    }

    .nav-text:hover {
        background-color: #00000020;
        color: #88ccff;
    }

    h1 {
        text-align: center;
        margin: 3rem;
        font-size: 3rem;
        font-family: "IBM Plex Sans Arabic", sans-serif;
    }

    h6 {
        text-align: center;
        margin: 3rem;
        font-size: 2rem;
        font-family: "Vazirmatn", sans-serif;
        line-height: 2.5rem;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: wheat;
        font-family: "Rubik", sans-serif;
        font-size: 2.5rem;
        margin: auto;
        transition: all .2s ease-in-out;
    }

    a:hover {
        color: #0099ff;
    }

    footer {
        bottom: 0;
        background-color: #333333bb;
        color: #fff;
        padding: 1rem;
        display: block;
        justify-content: space-evenly;
        align-items: flex-start;
        transition: all .3s ease-in-out;
    }

    svg,
    .image-mail {
        opacity: 70%;
        transition: all .2s ease-in-out;
    }

    svg:hover,
    .image-mail:hover {
        opacity: 100%;
    }

    .footer-section {
        max-width: 99%;
    }

    .footer-section p {
        font-size: 1rem;
        font-family: "Vazirmatn", sans-serif;
        line-height: 1.3rem;
    }

    footer h3 {
        font-size: 1.5rem;
        font-family: "Rubik", sans-serif;
        color: #66ddcc;
        margin: 1rem;
    }

    .contact-list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .site-links {
        list-style: none;
        padding: 0;
    }

    .site-links a {
        text-decoration: none;
        color: #ffffffcc;
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-family: "Rubik", sans-serif;
        transition: all .2s ease-in-out;
    }

    .site-links a:hover {
        color: #ff77ff;
    }
}

/* Tablet Page */
@media screen and (min-width:768px) and (max-width:1023px) {
    body {
        background: linear-gradient(to right, #66ddcc, #66ddcc, #ffaaee, #ff77ff);
        transition: all .3s ease-in-out;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 11%;
        transition: all .3s ease-in-out;
    }

    .blink {
        animation: blinker 1.5s linear infinite;
    }

    @keyframes blinker {
        50% {
            color: #fff;
            opacity: 0.01;
        }
    }

    nav {
        display: flex;
        width: 100% !important;
        margin: 1rem auto;
    }

    nav div {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .navbr {
        display: none;
    }

    .nav-text {
        font-family: "Vazirmatn", sans-serif;
        cursor: pointer;
        font-size: 1.6rem;
        text-decoration: none;
        padding: 1rem;
        margin-right: 1rem;
        background-color: transparent;
        border-radius: 1rem;
        color: #000;
        transition: all .3s ease-in-out;
    }

    .nav-text:hover {
        background-color: #00000020;
        color: #fff;
    }

    .active {
        background-color: #ff999999;
        color: white;
    }


    h1 {
        text-align: center;
        margin: 3rem;
        font-size: 3rem;
        font-family: "IBM Plex Sans Arabic", sans-serif;
    }

    h6 {
        text-align: center;
        margin: 3rem;
        font-size: 2rem;
        font-family: "Vazirmatn", sans-serif;
        line-height: 2.5rem;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: wheat;
        font-family: "Rubik", sans-serif;
        font-size: 2.5rem;
        margin: auto;
        transition: all .2s ease-in-out;
    }

    a:hover {
        color: #0099ff;
    }

    footer {
        background-color: #333333bb;
        color: #fff;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        transition: all .3s ease-in-out;
        bottom: 0;
    }

    svg,
    .image-mail {
        opacity: 70%;
        transition: all .2s ease-in-out;
    }

    svg:hover,
    .image-mail:hover {
        opacity: 100%;
    }

    .footer-section {
        max-width: 30%;
    }

    .footer-section p {
        font-size: 1rem;
        font-family: "Vazirmatn", sans-serif;
        line-height: 1.3rem;
    }

    footer h3 {
        font-size: 1.5rem;
        font-family: "Rubik", sans-serif;
        color: #66ddcc;
        margin: 0.5rem;
    }

    .contact-list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .site-links {
        list-style: none;
        padding: 0;
    }

    .site-links a {
        text-decoration: none;
        color: #ffffffcc;
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-family: "Rubik", sans-serif;
        transition: all .2s ease-in-out;
    }

    .site-links a:hover {
        color: #ff77ff;
    }
}

/* Desktop Page */
@media screen and (min-width:1024px) {
    body {
        background: linear-gradient(to right, #66ddcc, #66ddcc, #ffaaee, #ff77ff);
        transition: all .3s ease-in-out;
    }

    ::selection {
        background-color: #66ddcc;
        color: #000;
        /* متن مشکی */
    }

    ::-moz-selection {
        background-color: #66ddcc;
        /* متن مشکی برای Firefox */
        color: #000;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 8%;
        transition: all .3s ease-in-out;
    }

    .blink {
        animation: blinker 1.5s linear infinite;
    }

    @keyframes blinker {
        50% {
            color: #fff;
            opacity: 0.01;
        }
    }

    nav {
        display: flex;
        width: 100% !important;
        margin: 1rem auto;
    }

    nav div {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .navbr {
        display: none;
    }

    .nav-text {
        font-family: "Vazirmatn", sans-serif;
        cursor: pointer;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 1rem;
        margin-right: 1rem;
        background-color: transparent;
        border-radius: 1rem;
        color: #000;
        transition: all .3s ease-in-out;
    }

    .nav-text:hover {
        background-color: #00000020;
        color: #fff;
    }

    .active {
        background-color: #ff999999;
        color: white;
    }

    h1 {
        text-align: center;
        margin: 3rem;
        font-size: 3rem;
        font-family: "IBM Plex Sans Arabic", sans-serif;
    }

    h6 {
        text-align: center;
        margin: 3rem;
        font-size: 2rem;
        font-family: "Vazirmatn", sans-serif;
        line-height: 2.5rem;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: wheat;
        font-family: "Rubik", sans-serif;
        font-size: 2.5rem;
        margin: auto;
        transition: all .2s ease-in-out;
    }

    a:hover {
        color: #0099ff;
    }

    footer {
        bottom: 0;
        background-color: #333333bb;
        color: #fff;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        transition: all .3s ease-in-out;
    }

    svg,
    .image-mail {
        opacity: 70%;
        transition: all .2s ease-in-out;
    }

    svg:hover,
    .image-mail:hover {
        opacity: 100%;
    }

    .footer-section {
        max-width: 30%;
    }

    .footer-section p {
        font-size: 1rem;
        font-family: "Vazirmatn", sans-serif;
        line-height: 1.3rem;
    }

    footer h3 {
        font-size: 1.5rem;
        font-family: "Rubik", sans-serif;
        color: #66ddcc;
        margin: 0.5rem;
    }

    .contact-list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .site-links {
        list-style: none;
        padding: 0;
    }

    .site-links a {
        text-decoration: none;
        color: #ffffffcc;
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-family: "Rubik", sans-serif;
        transition: all .2s ease-in-out;
    }

    .site-links a:hover {
        color: #ff77ff;
    }
}