@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End CSS RESET! */

@media screen and (max-width:318px) {
    * {
        display: none;
    }
}

/* Mobile Page */
@media screen and (min-width:318px) and (max-width:767px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        user-select: none;
    }

    header {
        background-image: url(../images/Ellipse-right.png);
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: right;
        background-size: 40%;
    }

    .logo {
        width: 100%;
        max-width: 75px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    nav {
        background-color: #aaccff;
        padding: 0;
    }

    #navbar-id {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        /* به ردیف‌های جدید برود در صورت نیاز */
    }

    .nav-text {
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.2rem;
        color: #000;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    a:visited {
        color: inherit;
    }

    .nav-text:hover {
        color: #fff;
    }

    .active {
        font-weight: bold;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #4896ef;
        min-width: 100px;
        text-align: center;
        padding: 10px;
        z-index: 1;
        border-radius: 1rem;
        width: 100%;
    }

    .dropdown-content a {
        padding: 10px 0;
        display: block;
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.2rem;
        color: #000;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    .dropdown-content a:hover {
        color: #fff;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropbtn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.2rem;
        color: #000;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    .title {
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.8rem;
        margin: 2rem;
        font-weight: 300;
        text-align: center;
    }

    .title .farabazi {
        font-size: 5rem;
        font-weight: 900;
        color: #ff0000;
        margin: 2rem;
        text-shadow: -8px 8px 5px #77aaee;
    }

    .title .subtitle {
        font-size: 1.3rem;
        font-weight: 200;
        color: #000;
        margin: 2rem 1rem;
        padding: 0.5rem;
        box-shadow: -0.5rem 0.5rem 0 #000000;
        background-color: #ff000044;
        border-radius: 1rem;
    }

    .header-img {
        width: 60%;
        margin: 1rem 20%;
    }

    #categories,
    #platforms {
        margin: 3rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    #categories,
    #platforms h4 {
        font-family: "Vazirmatn", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    .category-box,
    .platform-box {
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem;
        overflow: hidden;
        color: #fff;
        text-align: center;
        padding: 2rem;
        position: relative;
        box-shadow: 0.1rem 0.1rem 0.5rem #000;
    }

    #action-cat {
        background-image: url('../images/home_images/action-cat.jpg');
        /* جایگزین 'action.jpg' با نام واقعی عکس اکشن */
    }

    #adventure-cat {
        background-image: url('../images/home_images/adventure-cat.jpg');
        /* جایگزین 'adventure.jpg' با نام واقعی عکس ماجراجویی */
    }

    #sport-cat {
        background-image: url('../images/home_images/sport-cat.jpg');
        /* جایگزین 'sport.jpg' با نام واقعی عکس ورزشی */
    }

    #scary-cat {
        background-image: url('../images/home_images/scary-cat.jpg');
        /* جایگزین 'scary.jpg' با نام واقعی عکس ترسناک */
    }

    h5 {
        margin: 0;
        font-size: 1.5rem;
        font-family: "Vazirmatn", sans-serif;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    .top-articles-section {
        width: 80%;
        margin: 2rem auto;
        background-color: #fff;
        border: 1px solid #000;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: -1rem 1rem 0 #00000055;
    }

    .top-articles-section h3 {
        font-size: 1.8rem;
        font-family: "Vazirmatn", sans-serif;
        padding: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
        border: 1px solid #000;
        border-radius: 1rem;
        background-color: #ff000099;
    }

    .top-articles-section h4 {
        font-size: 1.8rem;
        font-family: "Vazirmatn", sans-serif;
        padding: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .article {
        background-color: #ffffffa8;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .article img {
        width: 70%;
        height: 35%;
        margin: 0.2rem auto;
        border-radius: 1.5rem;
    }

    .article a {
        font-size: 1.2rem;
        font-family: "Vazirmatn", sans-serif;
        color: #000;
        text-decoration: none;
        text-align: center;
        padding: 0.5rem;
    }

    .article h4 {
        margin: 0;
    }

    .article p {
        font-size: 1rem;
        color: #757575;
        margin-top: 1rem;
        font-family: "Vazirmatn", sans-serif;
        text-align: center;
        padding: 0 1rem;
        line-height: 1.3rem;
    }

    #ps-plat {
        background-image: url('../images/home_images/ps-plat.png');
    }

    #pc-plat {
        background-image: url('../images/home_images/pc-plat.png');
    }

    #mobile-plat {
        background-image: url('../images/home_images/mobile-plat.png');
    }

    .top-games-section {
        width: 80%;
        margin: 2rem auto;
        background-color: #fff;
        border: 1px solid #000;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: -1rem 1rem 0 #00000055;
    }

    .top-games-section h3 {
        font-size: 1.8rem;
        font-family: "Vazirmatn", sans-serif;
        padding: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
        border: 1px solid #000;
        border-radius: 1rem;
        background-color: #ff000099;
    }

    .top-games-section h4 {
        font-size: 1.8rem;
        font-family: "Vazirmatn", sans-serif;
        padding: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .game {
        background-color: #ffffffa8;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .game img {
        width: 40%;
        height: 40%;
        border-radius: 2rem;
        margin: 0 auto;
    }

    .game a {
        font-size: 1.2rem;
        font-family: "Vazirmatn", sans-serif;
        color: #000;
        text-decoration: none;
        text-align: center;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }

    .game h4 {
        margin: 0;
    }

    .game p {
        margin: 1rem;
        font-size: 1.5rem;
        font-family: "Vazirmatn", sans-serif;
        text-align: center;
    }


    footer {
        bottom: 0;
        background-color: #00000040;
        color: #000;
        padding: 1rem;
        display: block;
        justify-content: space-evenly;
        align-items: flex-start;
        transition: all .3s ease-in-out;
        border-radius: 2rem 0 0 0;
        margin-top: 2rem;
    }

    svg,
    .image-mail {
        opacity: 70%;
        transition: all .2s ease-in-out;
    }

    svg:hover,
    .image-mail:hover {
        opacity: 100%;
    }

    .footer-section {
        max-width: 99%;
    }

    .footer-section p {
        font-size: 1rem;
        font-family: "Vazirmatn", sans-serif;
        line-height: 1.3rem;
    }

    footer h3 {
        font-size: 1.5rem;
        font-family: "Vazirmatn", sans-serif;
        color: #000000;
        margin: 1rem;
    }

    .contact-list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .site-links {
        list-style: none;
        padding: 0;
    }

    .site-links a {
        text-decoration: none;
        color: #000;
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-family: "Vazirmatn", sans-serif;
        transition: all .2s ease-in-out;
    }

    footer article {
        background-color: #000;
        padding: 1rem;
        width: 100% !important;
        margin: 1rem -1rem -1rem 0;
    }

    footer article p {
        color: #fff;
        font-size: 1rem;
        font-family: "Vazirmatn", sans-serif;
        font-weight: 400;
        text-align: center;
        line-height: 2rem;
    }

    ::selection {
        background-color: #77aaee;
        color: #000;
        /* متن مشکی */
    }

    ::-moz-selection {
        background-color: #77aaee;
        /* متن مشکی برای Firefox */
        color: #000;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ff0000;
    }
}

/* Tablet Page */
@media screen and (min-width:768px) and (max-width:1023px) {
    body {
        transition: all .3s ease-in-out;
        user-select: none;
    }

    header {
        background-image: url(../images/Ellipse-right.png);
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: right;
        background-size: 45%;
    }

    .logo {
        width: 100%;
        max-width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    nav {
        background-color: #aaccff;
        padding: 0;
    }

    #navbar-id {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        /* به ردیف‌های جدید برود در صورت نیاز */
    }

    .nav-text {
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.5rem;
        color: #000;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    .nav-text:hover {
        color: #fff;
    }

    .active {
        font-weight: 900;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #4896ef;
        min-width: 150px;
        text-align: center;
        padding: 10px;
        z-index: 1;
        border-radius: 1rem;
        width: 100%;
    }

    .dropdown-content a {
        padding: 10px 0;
        display: block;
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.5rem;
        color: #000;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    .dropdown-content a:hover {
        color: #fff;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropbtn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.5rem;
        color: #000;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    footer {
        bottom: 0;
        background-color: #00000040;
        color: #000;
        padding: 1rem;
        display: block;
        justify-content: space-evenly;
        align-items: flex-start;
        transition: all .3s ease-in-out;
        border-radius: 2rem 0 0 0;
        margin-top: 2rem;
    }

    svg,
    .image-mail {
        opacity: 70%;
        transition: all .2s ease-in-out;
    }

    svg:hover,
    .image-mail:hover {
        opacity: 100%;
    }

    .footer-section {
        max-width: 99%;
    }

    .footer-section p {
        font-size: 1.3rem;
        font-family: "Vazirmatn", sans-serif;
        line-height: 1.5rem;
    }

    footer h3 {
        font-size: 1.8rem;
        font-family: "Vazirmatn", sans-serif;
        color: #000000;
        margin: 1rem;
    }

    .contact-list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .site-links {
        list-style: none;
        padding: 0;
    }

    .site-links a {
        text-decoration: none;
        color: #000;
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        font-family: "Vazirmatn", sans-serif;
        transition: all .2s ease-in-out;
    }

    footer article {
        background-color: #000;
        padding: 1rem;
        width: 100% !important;
        margin: 1rem -1rem -1rem 0;
    }

    footer article p {
        color: #fff;
        font-size: 1.3rem;
        font-family: "Vazirmatn", sans-serif;
        font-weight: 400;
        text-align: center;
        line-height: 2rem;
    }

    ::selection {
        background-color: #77aaee;
        color: #000;
        /* متن مشکی */
    }

    ::-moz-selection {
        background-color: #77aaee;
        color: #000;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ff0000;
        border-radius: 1rem;
    }
}

/* Desktop Page */
@media screen and (min-width:1024px) {
    body {
        transition: all .2s ease-in-out;
        user-select: none;
    }

    header {
        background-image: url(../images/Ellipse-right.png);
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: right;
        background-size: 20%;
    }

    .logo {
        width: 100%;
        max-width: 70px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    nav {
        background-color: #aaccff;
        padding: 0;
    }

    #navbar-id {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        /* به ردیف‌های جدید برود در صورت نیاز */
    }

    .nav-text {
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.2rem;
        color: #000;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    .nav-text:hover {
        color: #fff;
    }

    .active {
        font-weight: 900;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #4896ef;
        min-width: 100px;
        text-align: center;
        padding: 10px;
        z-index: 1;
        border-radius: 1rem;
        width: 100%;
    }

    .dropdown-content a {
        padding: 20px 0;
        display: block;
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.2rem;
        color: #000;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        color: #fff;
        transition: all .3s ease-in-out;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropbtn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-family: "Vazirmatn", sans-serif;
        font-size: 1.2rem;
        color: #000;
        text-decoration: none;
    }

    .dropbtn:hover {
        color: #fff;
        transition: all .3s ease-in-out;
    }

    .header1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    main{
        width: 100%;
        display: flex;
    }

    aside{
        width: 25%;
    }

    .share{
        font-size: 1rem;
        font-family: "Vazirmatn", sans-serif;
        font-weight: 300;
        margin: 1.5rem;
        margin-bottom: 0;
    }
    .share-button{
        font-size: 1rem;
        border: none;
        font-family: "Vazirmatn", sans-serif;
        margin: 1.5rem;
        border-radius: 0.2rem;
    }

    .title{
        background-image: url(../images/wave-right.webp);
        background-repeat: no-repeat;
        background-position: -25%; 
        background-size: 45%;
        font-family: "Vazirmatn", sans-serif;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
    }

    .description{
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2rem;
        margin: 0.5rem 0;
        padding: 4rem;
        font-family: "Vazirmatn", sans-serif;
    }

    footer {
        bottom: 0;
        background-color: #00000040;
        color: #000;
        padding: 2rem;
        display: block;
        justify-content: space-evenly;
        align-items: flex-start;
        transition: all .3s ease-in-out;
        border-radius: 2rem 0 0 0;
        margin-top: 2rem;
    }

    svg,
    .image-mail {
        opacity: 70%;
        transition: all .2s ease-in-out;
    }

    svg:hover,
    .image-mail:hover {
        opacity: 100%;
    }

    .footer-section {
        max-width: 99%;
    }

    .footer-section p {
        font-size: 1.3rem;
        font-family: "Vazirmatn", sans-serif;
        line-height: 1.5rem;
    }

    footer h3 {
        font-size: 1.8rem;
        font-family: "Vazirmatn", sans-serif;
        color: #000000;
        margin: 1rem;
    }

    .contact-list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .site-links {
        list-style: none;
        padding: 0;
    }

    .site-links a {
        text-decoration: none;
        color: #000;
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        font-family: "Vazirmatn", sans-serif;
        transition: all .2s ease-in-out;
    }

    footer article {
        background-color: #000;
        padding: 1.5rem;
        width: 100% !important;
        margin: -1.5rem;
        margin-top: 1rem;
    }

    footer article p {
        color: #fff;
        font-size: 1.3rem;
        font-family: "Vazirmatn", sans-serif;
        font-weight: 400;
        text-align: center;
        line-height: 2rem;
    }

    ::selection {
        background-color: #77aaee;
        color: #000;
    }

    ::-moz-selection {
        background-color: #77aaee;
        color: #000;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ff0000;
        border-radius: 1rem;
    }

}